/* button {
    width: 80%;
    margin: auto;    
    background-color: #F1F1F1;
    color: white;
    border: 0;
    padding: 10px 24px;
    border-radius: 100px;
    width: fit-content;
} */

.text {
    text-decoration: none;
    color: black;
}